/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

section.selection-list {
    display: inline-block;
    background: aliceblue;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 5px;
    width: 20%;
    height: 100%;
}

section.selection-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
article.section-content {
    float: right;
    width: 75%;
    background: aliceblue;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 5px;
    height: 100%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}
article.section-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 20px auto;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    padding: 10px 20px;
    width: 70%;
    background-color: #b0e0e6;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    min-height: 500px;
}

footer {
    float: right;
}