
<h2>News</h2>
<section class="selection-list">
<div class="categories" ng-app >
<h4>{{title}}</h4>
        <ul>
            <li data-ng-repeat="c in categories" id="{{c.category_id}}"> {{c.display_category_name || c.english_category_name}}</li>
        </ul>
</div>
</section>
<article class="section-content">
<div class="category-content">
    <h4> {{category}} Articles</h4>
        <ul>
            <li data-ng-repeat="a in articles"> {{a.source}}: {{a.title}}</li>
        </ul>
</div>
</article>